@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* * {
    @apply border-[0.5px];
  } */
  ::-webkit-scrollbar {
    @apply h-0.5 w-0.5 border-0;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-ring/20;
  }
  form {
    @apply m-0;
  }

  :root {
    --background: 45 80% 98%;
    --foreground: 206 14% 9%;
    --card: 50 30% 96%;
    --card-foreground: 203 14% 11%;
    --muted: 0 0% 88%;
    --muted-foreground: 205 15% 16%;

    --primary: 0 100% 38%;
    --primary-foreground: 0 0% 99%;
    --secondary: 17 100% 53%;
    --secondary-foreground: 0 0% 0%;
    --accent: 58 85% 55%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: var(--muted-foreground);
    --ring: var(--foreground);
    --radius: 0.5rem;
  }

  .dark {
    --background: 206 14% 9%;
    --foreground: 45 80% 98%;
    --card: 203 14% 11%;
    --card-foreground: 50 30% 96%;
    --muted: 205 15% 16%;
    --muted-foreground: 0 0% 88%;

    --primary: 0 100% 38%;
    --primary-foreground: 0 0% 99%;
    --secondary: 17 100% 53%;
    --secondary-foreground: 0 0% 0%;
    --accent: 58 85% 55%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: var(--muted-foreground);
    --ring: var(--foreground);
  }
}

@layer utilities {
  .dropdown {
    @apply hidden transition duration-75 ease-in;
  }
  .dropdown-visible {
    @apply !flex flex-col duration-200 ease-out;
  }
  i {
    @apply group-hover:text-primary group-focus:text-primary;
  }

  #radial-gradient {
    @apply pointer-events-none fixed -z-10 h-[1000px] w-[1000px] rounded-full bg-gradient-radial from-accent/5 via-primary/5 via-25% to-transparent to-70%;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 0s 600000s,
    color 0s 600000s;
}
